<!-- this shows form for editing a dog that is already in the db -->

<h1 id="headingfont">Edit Pup</h1>

<div class="signup-wrap">
  <div class="field">
    <%= render 'form' %>
  </div>
  <div class="link-wrap">
    <%= link_to 'Show', @pet %> |
    <%= link_to 'Back', pets_path %>
  </div>
</div>
