<!-- this shows form for adding a new pup to the db -->

<h1 id="headingfont">New Pup</h1>
<hr>
<div class="signup-wrap">
  <div class="field">
    <%= render 'form' %>
  </div>
  <div class="link-wrap">
    <%= link_to 'Back', pets_path %>
  </div>
</div>
</br>
<% if @pet.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
  <!-- This is where our error messages will display -->
  <ul>
    <% @pet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
