<h1 id="headingfont">About Us</h2>
  <hr>
<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#">
          <h2>Therapy Pups</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>The Pup & You</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Improve your Health</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Lend a Paw</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Join Today!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Team POOCH</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
  </ul>
</div>
