<!-- this shows what the site is about -->

<h1 id="headingfont">About POOCH</h2>
  <hr>
  <div class="accordion">
    <ul>
      <li>
        <div>
          <a>
            <h2>Therapy Pups</h2>
            <p>Our therapy pups are here to help you! The goals of our therapy team <br> are to improve a person's social, emotional, and/or cognitive functioning.</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a>
            <h2>The Pup &amp; You</h2>
            <p>Our therapy pups would love to help you! Take a walk, cuddle on the couch, play <br> fetch at the beach, sit in the yard, picnic in the park, snooze on the bed, and <br> much more. Our canine companions are here for you.</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="https://www.nps.gov/goga/learn/management/upload/Comment-4704-attachment_.pdf">
            <h2>Improve your Health</h2>
            <p>Interaction with pups can lower anxiety, decrease stress-related conditions, <br> decreased blood-pressure, increased survival time post-heart attack, enhanced <br> happy hormone (dopamine and endorphin) levels, reduced cardiac stress, etc.
            </p>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a>
              <h2>Lend a Paw</h2>
              <p>We love pups of all size and shape, young or old, and everything in between!
                <br> Do you have a pup that might make a good therapy pup? Would you like to <br> volunteer or donate? Please contact at team@pooch.com</p>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a href="/users/sign_up">
                <h2>Join Today!</h2>
                <p>Register with POOCH and book an appointment with one of our therapy pups today!</p>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a>
                <h2>Team POOCH</h2>
                <p>Meet our team!
                    Left to right:
                  Yosef, Vincent, Russell, Andrew, and Kim</p>
                </a>
              </div>
            </li>
          </ul>
        </div>
