<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1727105110837751',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--div class container which contains all our landing page content-->
<div class="container">
  <!--The div for our row-->
  <div class="row">
    <!--The div which contains our logo-->
    <div class="poochlogo">
      <%=image_tag("poochlogo.gif",class: "img-responsive logo")%>
    </div>

    <!--The content below our logo with the fa-paw icons-->

    <h2 id="subtitle">Therapy Animals to Improve your Health & Mood</h2>

    <!--The div class we created to house our buttons-->
    <div class="rowbuttons">
      <%= link_to 'Register', new_user_registration_path, :class => "btn btn-lg btn-success" %>
      <%= link_to 'Log In', new_user_session_path, :class => "btn btn-lg btn-success" %>
    </div>
  </div>
</div>
