/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
/*The styling applied to the body of our entire web-app*/
body {
  background-color: #FFC871;
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  margin-bottom: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

/*The styling for our bottom banner*/
.hjhj {
  padding-top: 20px;
  background-image: url("bottombanner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: 20px solid gray;
}

.btn-primary {
  background-color: green;
  border-radius: 25px;
  font-size: 10pt;
}

.btn-primary:hover {
  color: white;
  background-color: green;
}

#navbar_user_name {
  padding: 9px;
}

#navbar_user_name img {
  border: 1px solid rgb(200, 200, 200);
}

label {
  text-transform: capitalize;
}

#mapcontainer {
  margin: 0 auto;
  margin-bottom: 10px;
}

.field img {
  margin-top: 40px;
  border: 2px solid rgb(82, 82, 82)
}
