
.poochlogo {
  text-align: center;
  margin-top: -15%;
}

h1 {
  text-align: center;
}

#subtitle {
  margin-top: -2.5%;
  text-align: center;
  font-size: 2vw;
  font-style: "Roboto"
}

p {
  text-align: center;
}

.row {
  padding: 15%;
  max-height: 550px;
  width: auto;
}

body {
  margin-top: 150px;
  margin-bottom: 150px;
}

.rowbuttons {
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  font-family: "Roboto"
}

.btn-success a {
  color: white;
}

a:hover {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.btn-success {
  margin-right: 10px;
  font-size: 2vw;
  border: 3px solid rgb(82, 82, 82);
}

/*.btn-success {
  margin-left: 10px;
  font-size: 2vw;
  border: 3px solid black;
}*/

.container {
  border-radius: 1%;
  border: 5px solid rgb(82, 82, 82);
  background-color: #FCFCFC;
}
