// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: rgb(82,82,82);
}

#pet_image {
  margin: 0 auto;
}

.action > a {
  color: rgb(82,82,82);
}

p > a > img {
  border: 2px solid rgb(82,82,82);
}

.link-wrap {
  text-align: center;
  color: rgb(82,82,82);
}

thead > tr > th {
  text-align: center;
  position: 0 auto;
  color: rgb(82,82,82);
}
/*This section is the styling for our pet input form*/
#pet_name {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#pet_breed {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#pet_size {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
  width: 100px;
}

#pet_age {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
  width: 40px;
}

#pet_zipcode {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
  width: 80px;
}

textarea {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
  width: 250px;
  height: 170px;
  resize: none;
}

.fa-camera {
  font-size: 40px;
}

.file_upload {
  width: 44px;
  margin: 0 auto;
  display: none;
  outline: none;
}

.file_upload::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}
// #paperclip_upload::before {
//   content: 'Upload';
//   display: inline-block;
//   background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
//   border: 1px solid #999;
//   border-radius: 3px;
//   padding: 5px 8px;
//   outline: none;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   cursor: pointer;
//   text-shadow: 1px 1px #fff;
//   font-weight: 700;
//   font-size: 10pt;
// }
// #paperclip_upload:hover::before {
//   border-color: black;
// }
// #paperclip_upload:active::before {
//   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
// }

.disabled-links {
  color: rgb(82,82,82);
}
