#headingfont {
  margin-top: -5%;
  margin-bottom: -1.1%;
  font-family: 'Oleo Script', cursive;
  color: rgb(82,82,82);
  text-shadow: 3px 3px white;
  font-size: 50pt;
  text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.field {
  text-align: center;
  font-size: 12pt;
  color: rgb(82,82,82);
}

a {
  color: rgb(82,82,82);
}

.actions {
  text-align: center;
}

.actions>input {
  color: white;
  background-color: green;
  border-radius: 25px;
  font-size: 12pt;
  margin-top: 15%;
  width: 150px;
  border: 1px solid rgb(201, 201, 201);
}

.edit_btn {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  color: white;
  background-color: green;
  border-radius: 25px;
  font-size: 12pt;
  margin-top: 15%;
  border: 1px solid rgb(201, 201, 201);
}

.edit_btn > a {
  color: white;
}

.signup-wrap {
  max-width: 350px;
  min-height: 350px;
  background-color: rgba(255,255,255,0.7);
  margin: 0 auto;
  border-radius: 5%;
  padding-top: 5%;
  margin-top: 80px;
  border: 3px solid rgb(82,82,82);
}
/*This section is the styling for our user input form*/
#user_email {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#user_password {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}


#user_password_confirmation {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#user_current_password {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#user_address {
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #FCFCFC;
  text-indent: 10px;
}

#user_avatar {

}

/* changes the size of the user uploaded animal image */
tbody > tr > td > a > img {
  border: 2px solid black;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
