<!-- new appintment html -->

<h1 id="headingfont">New Appointment</h1>
<hr>
<div class="signup-wrap">
  <%= render 'form' %>
  <div id="mapcontainer" style='width: 320px;'>
    <div id="map" style='width: 320px; height: 200px;'></div>
  </div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  </script>
</div>
