<h1 id="headingfont">Show appointment</h1>

<div class="signup-wrap">
  <dl class="dl-horizontal">
    <dt>Date:</dt>
    <dd><%= @appointment.date.strftime("%B %d, %Y") %></dd>

    <dt>Pet:</dt>
    <dd><%= @appointment.pet.name %></dd>

    <dt>User:</dt>
    <dd><%= @appointment.user.email %></dd>
  </dl>

  <div class="link-wrap">
    <%= link_to 'Back', pets_path %>
  </div>
</div>
